*,
*::before,
*::after {
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Indie+Flower&family=Montserrat&family=Noto+Sans+JP:wght@100&family=Playfair+Display:wght@500&display=swap');

html {
	font-size: 16px;
    height: fit-content;
}
body {
    background-color: rgb(243, 238, 238);
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
header {
	background-color: #080101e9;
    color: #6847ff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
	left: 0;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
	width: 100%;
}
.navbar {
    color:#6847ff;
    list-style: none;
    align-items: center;
    text-align: right;
}
.navbar li,
.navbar a {
    color: #6847ff;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.navbar a:hover {
    color: yellow;
}
.container {
    margin: 10% 10%;
}
#about h1, 
#experience h1, 
#connect h1,
#messages h2 {
    color: #6847ff;
    font-size: 30px;
    padding: auto;
}
#skills h2, 
#comment h2,
#projects h2,
#messages h2 {
    font-size: 30px;
    color: #6847ff;
    padding: auto;
}
ul li {
    border-style: groove;
    border-radius: 15px;
    list-style: none;
    height: 90px;
    width: 150px;
    display: inline-table;
    flex-wrap: wrap;
    margin: 10px 10px;
    text-align: center;
    padding-top: 28px;
}
#comment {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}
textarea {
    width: 300px;
    height: 100px;
}
.btn {
    color: black;
    background-color: snow;
    font-weight: bold;
    border: 1px solid;
    border-radius: 3px;
    width: 80px;
    padding: 5px;
    margin: 0 3px;
    outline: none;
    box-shadow: 7px 7px 7px #6847ff;
}
.btn:hover {
  background-color: yellow;
}
footer {  
    color: #6847ff;
    background-color: #080101;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    align-items: center;
    text-align: left;
    position: absolute;
}
.social-media {
    font-size: 24px;
    color: #6847ff;
    text-align: right;
    align-items: center;
}
#connect {
    color: #6847ff;
    margin-left: auto;
    padding: 10px 10px;
    text-align: right;
    align-items: center;
}
#connect a:hover {
  color: yellow;
}


/* Media Queries */
@media print {
    section {
		min-height: auto;
	}
}

@media screen and (min-width: 500px) {
    
    #about {
        margin-top: auto;
    }
    
    ul li {
        width: 200px;
    }
}